<button [routerLink]="['/']">Home</button>
<button [routerLink]="['/Quotes/new/',AuthorId]">Add a quote</button>
<table class="table">
  <thead class="thead-dark">
    <th>Quote</th>
    <th>Vote</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let quote of AuthorQuotes['Quotes']">
      <td>{{quote.title}}</td>
      <td>{{quote.Votes}}</td>
      <td>
        <button (click)="Vote(quote._id, 1)">Vote Up</button>
        <button (click)="Vote(quote._id, -1)">Vote Down</button>
        <button (click)="DeleteQuote(quote._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>